/*black - #0F0F0F;
white - #F0F0F0;*/

/*~~~~~~ settings selectors/default styles ~~~~~~*/
/*background color*/
body, #searchBar, select, #settings, input, button{
	background-color: #0F0F0F;
}
/*font color*/
p, a:visited, li, svg, input, select, #searchBar:focus, .column-head, h2, h3, label, button{
	color: #F0F0F0;
}
#searchBar:focus, input:focus{
	box-shadow: 0px 0px 10px 0 #F0F0F0;
}
.column, #searchBar, select, input, button{
	border: 3px solid #F0F0F0;
	border-radius: 30px;
}
/*accent color*/
a:hover{
	color: red;
	transition: 0.5s;
}
/*font*/
*{
	font-family: 'Century Gothic', sans-serif;
}


/*~~~~~~ persistent settings ~~~~~~*/
*{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
	min-height: 100%;
}
.wrapper{
	display: grid;
	width: 90%; /*width viewport adj*/
	height: 100vh;
	margin: 0 auto;
}
.content{
	display: grid;
	grid-template-rows: auto 1fr 1fr;
	grid-row-gap: 5%;
	height: 80vh; /*height viewport adj*/
	align-self: center;
}
.row{	
	display: grid;
	grid-column-gap: 2%;
	align-items: center;
	grid-auto-flow: row;
}
.row#bottom{
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.column{
	height: 100%;
	width: 100%;
}
#settings-row{
	height: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#settingsIcon, #searchBtn, button{
	cursor: pointer;
}
.currentDay{
	margin: 0 auto;
}
#clock{
	font-size: 96px;
}
#date{
	text-align: center;
	font-size: 24px;
}
.searchBar-contain{
	margin: 0 auto;
	justify-self: top;
}
#searchBar{
	font-size: 18px;
	width: 500px;
	padding: 10px;
}
.column-head{
	margin:  50px auto 0px;
	text-align: center;
	align-self: start;
	font-weight: normal;
}
.column p, .column ul{
	width: 95%;
	margin: 50px auto;
}
ul{
	text-align: center;
	list-style-type: none;
}
.column li{
	margin: 25px 0px;
}
a{
	text-decoration: none;
}
#searchBar:focus, input:focus{
	outline: none;
}
#searchBtn{
	vertical-align: middle;
}
select, input, button{
	padding: 5px;
}

/*~~~~~~ settings page ~~~~~~*/
#settings{
	display: none;
	height: 100vh;
	width: 100%;
	z-index: 10000;
}
.settings-wrapper{
	width: 95%;
	margin: 0 auto;
}
.settings-nav{
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
	position: fixed;
	top:  0;
	left: 0;
}
.settings-nav h2{
	margin-left: 25px;

}
.nav-section{
	width: 100px;
	margin: 0px 5px;
}
.settings-content{
	padding-top: 50px;
}
.setting{
	margin: 10px 0px;
}
.settings-content h2{
	margin: 25px 0px 10px 0px;
}
.settings-content h3{
	margin-bottom: 5px;
}
#close-settings{
	justify-self: flex-end;
}

